select {
  background-color: lightcoral;
  border: 0;
  padding: 10px;
  color: white;
  border-radius: 5px;
  margin: 10px;
  font-weight: bold;
}

p {
  margin-top: 0;
}
.App-header {
  background-color: lightblue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.container{
  width: 90vw;
  @media screen and (min-width: 992px) {

  }
  
}
.control{
  font-size: 15px;
  font-weight: bold;
  color: white;
  background-color: lightcoral;
  border: 0;
  padding: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  &:hover{
    background-color: coral;
  }
}

a{
  color: lightcoral;
  transition: all 0.3s;
    &:hover{
        color: black;
    }
}




